<div class="no-results">
  <ion-row class="icon-wrapper ion-justify-content-center ion-align-items-center">
    <img src="assets/icon/rounded-rectangle.svg" alt="no data" />
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col class="ion-align-self-center ion-text-center">
      <div class="no-results-text-wrapper">
        <div class="no-results-title">Sorry,</div>
        <div class="no-results-text-instruction">No data found</div>
      </div>
    </ion-col>
  </ion-row>
</div>
