.no-results {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  color: var(--text-color-primary);


  .icon-wrapper {
    img {
      display: block;
      width: 103px;
      height: 76px;
    }
  }

  .no-results-text-wrapper {
    font-size: 20px;
    text-align: center;

    .no-results-title {
      font-size: 20px;
      font-weight: bold;

    }

    .no-results-text-instruction {
      font-size: 16px;
      font-weight: normal;

    }
  }

}
