.modal-header {
  padding: 16px;
}

cdk-virtual-scroll-viewport {
  height: calc(100% - 70px);
  width: 100%;
}

.content-container-with-virtual-scroll {
  height: 100px;
}

ion-icon {
  &.mfa-icon {
    height: 20px;
    width: 20px;
  }

  &.true {
    color: var(--success-color);
  }

  &.false {
    color: var(--fail-color);

  }

}

.mail-link {
  color: var(--link-color);
}
