.btn-general {
  height: 45px;
  width: 115px;
  box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  border: none;
  cursor: pointer;

  &.btn-primary {
    --background: transparent;
    --border-width: 1px;
    --border-style: solid;
  }

  &:active {
    border: none;
  }
}

.btn-gradient-primary {
  --background: linear-gradient(270deg, var(--btn-gradient-primary) 0%, var(--btn-gradient-secondary) 95.63%);
}
