.card {
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--text-color-primary);

  &:hover {
    --background: var(--item-hover);
    border: 1px solid var(--form-color-table-hover-bg);
  }
}
